<form>
<%= form_for @article, html: { multipart: true } do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="form-group">
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control", :rows => "1", :placeholder=>"Title" %>
  </p>
</div>
 
 <div class="form-group">
    <p>    
        <%= f.label :text %><br>
        <%= f.text_area :text, :class => "form-control", :rows => "10", :placeholder=>"Text"  %>
    </p>
  </div>

<div class="form-group">
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image, :type=>"file" %>
  </p>
  </div>
 
  <p>
    <%= f.submit :class => "btn btn-success" %>
  </p>
 
<% end %>
</form>
